.logo{
    width: 202.81px;
    height: 60px;
    left: 88px;
    top: 44px;
}

.nav li{
    display: inline;
    margin-left: 50px;
 
  }
  .rgister-btn{
    width: 90px !important;
    text-transform: capitalize !important;
}
.admin-btn{
    width: 90px !important;
    background: #434141 !important;
    text-transform: capitalize !important;
}
 